* {
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 20px;    
  }  
    
  h1 {
    text-align: center;
    font-size: 1.75em;
  }
  
  #container {    
    position: relative;    
    float: left;          
    padding: 10px;    
    }

  #head1 {
    position: absolute;
    background-color: #d59898;    
    border: 1px solid #222222;  
    text-align: center;
    font-weight: bold;
    padding: 10px;
    top: 10px;
    right: 20px;
    width: 130px;
  }
  
  #head2 {
    position: absolute;
    background-color: #c14543;        
    border: 1px solid #222222;  
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 10px;
    top: 10px;
    right: 20px;
    width: 130px;
  }

  #head3 {
    position: absolute;
    background-color: #e5d198;        
    border: 1px solid #222222;  
    text-align: center;
    font-weight: bold;
    padding: 10px;
    top: 10px;
    right: 20px;
    width: 130px; 
  }

  #text {    
    background-color: #999999;    
    border: 1px solid #222222;  
    margin-right: 10px;
    padding: 20px;    
    padding-top: 50px;    
  }

  /* Simple Responsive Framework. */
  .row {
    width: 100%;
  }
  
  /********** Large devices only **********/
  @media (min-width: 992px){ 
    .size {
      width: 33.33%;
    }
  }

  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .size {      
      width: 50%;
    }
    .size:last-child {
      width: 100%
    }
}


  }

  /********** Small devices only **********/
  @media (max-width: 767px) {
    .size {
      width: 100%;
    }
  }